h1 {
    text-align: center;
    background-color: rgb(207, 191, 170);
    align-items: center;
    border-radius: 150px;
    border: 3px solid #eb97b9;
    padding: 20px;
    height: 35px;
}

h4 {
    font-size: 15px;
    text-align: center;

}

h3 {
    font-size: 15px;
    text-align: right;

}

body {
    background-color: #ecb3dbd5;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(234, 0, 255);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

* {
    font-family: sans-serif;
}