h1 {
    text-align: center;
    background-color: rgb(226, 189, 220);
    align-items: center;
    border-style:dotted 150px;
    border: 6px solid #f3e0e8;
    padding: 9px;
    
   
}

h4 {
    font-size: 15px;
    text-align: center;

}

h3 {
    font-size: 15px;
    text-align: right;

}

body {
    background-color: #f0e7edd5;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(215, 151, 223);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

* {
    font-family: sans-serif;
}

.contenedor {
    display: flex;
    background-color: rgb(215, 151, 223);
    padding: 25px;
    color: white;
}

.text {
    padding-left: 25px;
    font-size: 20px !important;
}